version: '3.8'
services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
  inventoryservice:
    image: inventoryservice
    build:
      context: .
      dockerfile: src/Services/InventoryService/Dockerfile
    environment:
      - RabbitMQ__Host=rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
  orderservice:
    image: orderservice
    build:
      context: .
      dockerfile: src/Services/OrderService/Dockerfile
    environment:
      - RabbitMQ__Host=rabbitmq
    ports:
      - "8080:8080"
    depends_on:
      rabbitmq:
        condition: service_healthy

