services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

  orderservice:
    build:
      context: .
      dockerfile: src/Services/OrderService/Dockerfile
    image: orderservice:latest
    ports:
      - "8000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - RabbitMQ__Host=rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy

  inventoryservice:
    build:
      context: .
      dockerfile: src/Services/InventoryService/Dockerfile
    image: inventoryservice:latest
    ports:
      - "8001:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - RabbitMQ__Host=rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy

  paymentservice:
    build:
      context: .
      dockerfile: src/Services/PaymentService/Dockerfile
    image: paymentservice:latest
    ports:
      - "8003:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - RabbitMQ__Host=rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
